
//COLORS

$color-primary: #b23250;
$color-primary-dark: #941f3a;
$color-primary-light: #cc3a5c;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #ccc;

$color-grey-dark-1: rgb(15, 15, 15);
$color-grey-dark-2: rgb(102, 102, 102);
$color-grey-dark-3: rgb(153, 153, 153);

$shadow-light: 0 0 1rem rgba(0, 0, 0, 0.1);
$shadow-light-to-right: 1rem 0 1rem rgba(0, 0, 0, 0.1);
$shadow-dark: 0 0 1rem rgba(0, 0, 0, 0.3);