.sidebar--wrap {
    filter: drop-shadow(0 0px 0.8rem rgba(0, 0, 0, 0.2));
    position: fixed;

    @include respond(phone) {
        position: relative;
    }
}

.sidebar {
    grid-area: sidebar;
    position: fixed;
    top: 0;
    left: 0;
    width: 23vw;
    max-width: 450px;
    background-color: #f2f2f2;
    text-align: center;
    height: 92vh;
    min-height: 800px;
    max-height: 850px;
    margin: 30px;
    z-index: 1000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    & .sidebar__cred {
        @include respond(phone) {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 80%;
        }
    }

    @include respond(tab-land) {
        position: fixed;
        height: 50vh;
        min-height: 580px;
        max-height: 650px;
    }
    @include respond(tab-port) {
        position: fixed;
    }

    @include respond(phone) {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 98%;
        height: initial;
        min-height: initial;
        max-height: initial;
        margin: 5px;
    }

    @include respond(large-desktop) {
        height: 950px;
    }

    .name, .title, .email {
        font-weight: 300;
    }
}