
@mixin border-animation($width, $color, $duration){
    position:relative;

    &:before {
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        background:
            linear-gradient(to left, $color 0%, $color 100%), 
            linear-gradient(to top, $color 50%, transparent 50%), 
            linear-gradient(to top, $color 50%, transparent 50%), 
            linear-gradient(to right, $color 0%, $color 100%), 
                linear-gradient(to left, $color 0%, $color 100%);
        background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        background-position:0% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        background-repeat:no-repeat, no-repeat;
        transition:
            transform $duration ease-in-out, 
            background-position $duration ease-in-out, 
            background-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg);
        transition-delay:$duration*2, $duration, 0s;
    }

    &:hover:before {
        background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
        background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
        transform:scaleX(1) rotate(180deg);
        transition-delay:0s, $duration, $duration*2;
    }
}

.social-nav {
    margin-top: 40px;

    @include respond(phone) {
        margin: 0;
        margin-bottom: 20px;
    }

    li {
        list-style: none;
    }

    &__icon  {
        display: inline-block;
        padding: 5px;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            // padding: 10px;
            width: 40px;
            height: 40px;
            
            @include border-animation(2px, $color-primary, .15s );
        }
    }
}